@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-gradient-gray {
  background: rgb(17, 16, 16);
  background: radial-gradient(
    circle,
    rgba(17, 16, 16, 1) 0%,
    rgba(44, 45, 45, 1) 100%
  );
  background-image: url("/blob-scene.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

::-webkit-scrollbar-thumb {
  background: #565555;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #413c40;
}
